<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Expenses</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><button class="btn btn-default" ng-click="vm.login()">Login</button></li>
                <li><button class="btn btn-default" ng-click="vm.register()">Register</button></li>
            </ul>
        </div>
    </div>
</nav>
<div ng-if="vm.loginOrRegister">
    <div register="false" login-or-register></div>
</div>
<div ng-if="!vm.loginOrRegister">
    <div register="true" login-or-register></div>
</div>
<div ng-if="false" id="myExpenses">
    <div store="vm.store" date="vm.date" spent="vm.spent" expenses-header></div>
    <div class="col-xs-10 col-xs-offset-1">
        <button type="submit" class="btn btn-default" ng-disabled="!vm.store || !vm.date || !vm.spent" ng-click="vm.savePurchase(vm.store, vm.date, vm.spent)">Save Transaction</button>
    </div>
    <div expenes-results></div>
    <div class="col-xs-12">
        <h2>Total Expenses {{vm.totalSpent | currency}}</h2>
        <table st-table="displayedCollection" st-safe-src="vm.getExpenses" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="firstName">Store</th>
                    <th st-sort="lastName">Date</th>
                    <th st-sort="birthDate">Spent</th>
                </tr>
                <tr>
                    <th colspan="5">
                        <input st-search="" class="input form-control" placeholder="global search ..." type="text" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection">
                    <td>{{row.store}}</td>
                    <td>{{row.date | date: 'shortDate'}}</td>
                    <td>{{row.spent | currency}}</td>
                    <td>
                        <button type="button" ng-click="vm.removeItem(row)" class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-remove-circle">
                    </i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
